* {
	margin:0;
	padding:0;
}

body{
	width: 100%;
	background: url("../images/wallpaper1.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;
}

.login-box{
	position: fixed;
	width: 400px;
	height: 250px;
	left: calc(50vw - 125px);
	top : calc(50vh - 200px);
	padding: 20px;
	border-radius: 15px;
}

#tabs{
	border: 4px solid rgb(39, 147, 155);
	/* background-color: rgba(0, 0, 0, 0.473); */
}

.login-box > div > form{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-content: center;
	text-align: center;
}

.btnCtn{
	display: flex;
	flex-flow: row;
	justify-content: space-around;
}

#btnLogin, #btnSignin{
	width: 100px;
	font-size: 20px;
	background-color: rgb(0, 132, 255);
	color: white;
	border-radius: 3px;
	cursor: pointer;
}

/********* MAINMENU ***********/

.mainmenu{
	position: fixed;
	width: 400px;
	height: 600px;
	left: calc(50vw - 200px);
	top : calc(50vh - 300px);
	padding: 20px;
	border: 4px solid rgb(0, 195, 255);
	border-radius: 50px;
	display: grid;
	grid-template-rows: 2fr 1fr 2fr 2fr 2fr 1fr;
	justify-content: center;
	text-align: center;
	-webkit-transition: background 1s, border-radius 1s;
	transition: background 1s, border-radius 1s;
	background-color: rgba(255, 255, 255, 0.644);
}

.mainmenu:hover{
	border-radius: 5px;
}

.mainmenu_title{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 40px;
}

#mainmenu_welcom, a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
}


.mainmenu > button{
	width: 200px;
	height: 100px;
	border-radius: 30px;
	justify-self: center;
	border: 2px solid rgb(0, 195, 255);
	-webkit-transition: background 1s, border-radius 1s;
	transition: background 1s, border-radius 1s;
}
.mainmenu > button:hover{
	background-color: rgba(0, 225, 255, 0.699);
	border-radius: 5px;
}


/******* Game.php ******/

#gamestats{
	position: absolute;
	top: 0;
	right : 0;
	width : 500px;
	height : 100px;
	border : rgba(0,0,0,0.5) solid 2px;
	border-radius: 10px;
	background-image: url("../images/carom_stats_bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	/* background-position-x: -200px; */
	color:white;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 20px;
	/* opacity: 0.7; */
	padding: 10px;
	text-align: center;
	align-items: center;
}

#gamestats:hover{
	opacity: 1.0;
}

.playerstats{
	border : white solid 2px;
	border-radius: 10px;
	background-color: rgba(0,0,0,0.5);
	align-items: center;
	justify-items: center;
	height: 100%;
}
.timerstats{
	border : white solid 2px;
	border-radius: 10px;
	padding: 10px;
	background-color: rgba(0,0,0,0.5);
	font-size: 25px;
}

#gamestats button{
	height: 50px;
	background-color: rgba(0, 0, 0, 0.486);
	color : white;
	border : 1px solid white;
	border-radius: 10px;
	cursor: pointer;
}

#gamestats button:hover{
	background-color: rgba(255, 255, 255, 0.308);
}


.lobbyMainPanel{
	position: absolute;
	width: 400px;
	height: 500px;
	left: calc(50vw - 200px);
	top: calc(50vh - 250px);
	background-color: rgba(0, 0, 0, 0.548);
	border: 2px solid white;
	border-radius: 20px;
	padding: 15px;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	text-align: center;
}

.lobbyPlayersPanel{
	width: 100%;
	height: 300px;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
}

.lobbyMainPanel button {
	margin-top: 15px;
	width: 80%;
	height: 40px;
	background-color: rgba(0, 0, 0, 0.486);
	color: white;
	border: 1px solid white;
	/* border-radius: 10px; */
	cursor: pointer;
}

.lobbyMainPanel button:hover {
	background-color: rgba(255, 255, 255, 0.308);
}

.lobbyMainPanel_timer{
	position: absolute;
	top: 10px;
	right: 10px;
	width: auto;
	height: auto;
	color : white;
	font-size: 25px;
}

/****** GAME CONTROLES *****/
.panelControls{
	position: absolute;
	left: 10;
	top: 10;
	width: auto;
	height: auto;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.178);
}

#slider_angle .rs-inner-container{
	background: transparent;
}
#slider_angle .rs-range-color  {
    background-color: #33B5E5;
}
#slider_angle .rs-path-color  {
    background-color: #C2E9F7;
}
#slider_angle .rs-handle  {
    background-color: #C2E9F7;
    padding: 7px;
    border: 2px solid #C2E9F7;
}
#slider_angle .rs-handle.rs-focus  {
    border-color: #33B5E5;
}
#slider_angle .rs-handle:after  {
    border-color: #33B5E5;
    background-color: #33B5E5;
}
#slider_angle .rs-border  {
    border-color: transparent;
}

#custom-handle {
    width: 30px;
    height: auto;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
	line-height: 1.6em;
	border-radius: 50px;
}

.panelControls button {
	width: 80%;
	height: 40px;
	background-color: rgba(0, 0, 0, 0.486);
	color: white;
	border: 1px solid white;
	/* border-radius: 10px; */
	cursor: pointer;
}

.panelControls button:hover {
	background-color: rgba(255, 255, 255, 0.308);
}